*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
    height: 100vh;
}
table,tr,td,th{
    border: 1.5px solid black;
    border-collapse:collapse;
    text-align: center;
}
.serial_no{
    column-span:"2";
}
table{
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-right: 10%;
}
td,th{
    width: 16%;
    height: 50px;
}
.tablehead{
    font-weight: 600;
    background-color:#A5A5A5;
    color: #53503A;
    
}
.tr3,.tr5{
    background-color:#D9D9D9;
}
.tr2,.tr3,.tr3,.tr4,.tr5{
    color: #57533f;
    font-weight: 500;
}
@media screen and (min-width: 1801px) and (max-width: 2560px) {
    table{
        font-size: 35px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1800px){
    table{
        font-size: 25px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    table{
        font-size: 18px;
    }
}
@media screen and (min-width: 801px) and (max-width: 1023px){
    table{
        font-size: 15px;
    }
}
@media screen and (min-width: 685px) and (max-width: 800px){
    table{
        font-size: 13px;
    }
}
@media screen and (min-width: 590px) and (max-width: 684px){
    table{
        font-size: 12px;
    }
}
@media screen and (min-width: 471px) and (max-width: 590px){
    table{
        font-size: 10px;
    }
}
@media screen and (max-width: 470px){
    .container{
        overflow-x: auto;
        overflow-y: hidden;
       
    }
    table{
        width: 500px;
        font-size: 10px;
    }

}
